.body {
    background-color: #9DBEBB;
    width: 100%;
    min-height: 100%;
    min-width: 1440px;
    min-height: 900px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    overflow-x: hidden;
}

.container-big {
    max-width: 954px;
    min-height: 594px;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #BE0909 0%, #BE0909 64%, #FFB039 64%, #FFB039 100%) 
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -10%;
  right: -20%;
  -o-object-fit: contain;
   object-fit: contain;
}

.form {
    display: flex;
    flex: 1 0 65%;
    margin-left: 65px;
    margin-top: 64px;
    flex-direction: column;
}

.labels {
    display: block;
    width: 100%;
    margin: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 0.2s ease-out;  
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FEFFFF;
}

.button{
    position: absolute;
    cursor: pointer;
    margin: 56px;
    display: block;
    height: 48px;
    min-width: 202px;
    background-color: #468189;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    color: #FEFFFF;
    border: none;
    text-transform: uppercase;
}

.input-field {
  background-color: #BE0909;
  border-bottom: 1px solid #9DBEBB;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  padding: 5px;
  max-width:160px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
}

.input-field::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 5px;
    color: #FEFFFF;
}

#name, #message {
    max-width: 380px;
    width: 100%;
}







